/***************************************
            index.html
****************************************/
@media screen and (max-width: 768px){
    /* fixit */
    header {
        display: none;
    }

    .events {
        margin: 10vh 0px;
    }
    .events .event-item {
        display: ;
    }

    .events .event-item img {
        max-width: none;
        width: 100vw;
        height: auto;
    }
    footer #socialmedia-icons {
        width: 100%;
    }

    .events .event-per-item button {
        margin: 20px;
    }
    .events #event-button-left {
        position: static;
        top:  auto;
        margin-top: 20px;
        
        left: 10px;
        transform: translateY(-50%);
    }
    
    .events #event-button-right {
        position: static;
        top: auto;
        right: 10px;
        transform: translateY(-50%);
    }
    
    #tothetop {
        display: none;
        position: fixed;
        bottom: 10px;
        right: 20px;
        text-decoration: none;
        color: #222222;
    }
    #tothetopmobile {
        display: initial;
        position: sticky;
        height: 0px;
        top: calc(100vh - 40px);
        left: 70vw;
        text-decoration: none;
        color: #222222;
    }
}


/***************************************
            index.html
****************************************/
@media screen and (max-width: 768px){
    .global-view #mobile-view {
        display: initial;
    	width: 80vw;
    	padding: 40px 0;
    }

    .global-view #wide-view {
        display: none;
    }
}