body {
	background-image: url("src/wall.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size:100%;
}

header {
	background-color:white;
}

.wall-top-container {
	height: calc(100vh - 10vh);
	background-color: black;
	opacity: 0.3;
	width: 100%;
}
