body {
}

header {
	background-color:white;
}


/** About Us **/
.about-us {
	background-color: white;
    min-height: 100vh;
	justify-content: space-around;
}

.about-us #heading1 {
	font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 300;
	color: #0a70a3;
}
.about-us #heading1 span {
	display: inline;
	color: black;
	font-family: 'Nunito', sans-serif;
    font-size: 30px;
	animation: spread-slow 1.4s;
	font-weight: 300;
}

@keyframes spread-slow {
	0%   {display: none;}
	40%  {display:none;letter-spacing: -0.5em; opacity: 0;}
	50%  {opacity: 0.1;}
	100% {letter-spacing: 0em; }
}

.about-us span {
	color: #0a70a3;
}

/** Benifits **/
.benifits {
	padding: 10vh 50px;
	display: flex;
	background-color: #f5f5f5;
	flex-direction: column;
}

.benifits p {
	margin: 10px 0;
    font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 30px;
}
.benifits p span {
    font-family: 'Nunito', sans-serif;
	font-weight: 300;
	border: solid 2px #0a70a3;
	margin: 0px;
	padding: 0px;
	border-width: 0 0 2px 0;
}

.benifits .benifits-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
	gap: 20px;
}

.benifits .benifits-container #head {
	font-size: 30px;
	color: #0a70a3;
}

.benifits .benifits-container #body {
	font-size: 20px;
}

.benifits .benifit-item {
	border: solid 0px;
	border-radius: 10px;
	width: 300px;
	font-size: 18px;
}

.wall-top-container {
	height: calc(100vh - 10vh);
	background-color: black;
	opacity: 0.3;
	width: 100%;
}
